@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header .active {
  border-bottom: 1.5px solid #f06292;
  color: #f06292;
}
.header a:hover {
    color: #f06292;
}
.container{
  width: 90%;
  margin:auto
}

.slick-dots-bottom{
  margin: 0 !important;
  padding: 0 !important;
}
